<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.3894" newVersion="1.7.1.3894" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>